<!DOCTYPE html>
<html>
  
    <head>
    
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Create & Edit New Product | Grocery Store</title>
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

        <style>
            body{
                width:100%;
                height:100vh; 
                background:black;
                background-image:url('{{url_for('static', filename='images/login.jpg')}}'); 
                background-repeat:no-repeat; 
                background-size:cover;
                background-attachment: fixed;
                overflow-x:hidden;
            }

            .navbar{
                width:100%;
            }

            .nav{
                padding-top:0.5vh;
                padding-bottom:0.5vh;
                padding-left:2vw;
                padding-right:2vw;
                width:fit-content;
                font-size:3vh;
                height:100%;
            }

            .clickable:hover{
                background-color:rgb(230, 230, 230);
            }

            #content{
                height:93vh;
                display:flex; 
                flex-direction:column; 
                justify-content:center; 
                align-items:center;  
                
            }

            #form-wrap{
                padding:5vw;
                background-color:rgba(255, 255, 255, 0.7);
                border-radius:10px;
            }
        </style>
    
    </head>
  
    <body id="body">
        <nav id = "nav" class="navbar sticky-top bg-body-tertiary text-center">
            <div class="nav" style = "text-align:left;">
                {{ user }}'s Dashboard
            </div>

            <div class="clickable nav shadow-sm" style = "margin-left:auto;text-align:right; border-right:2px solid black;">
                <a href="/{{ user }}/manager_dashboard" style = "text-decoration:none; color:black;">Dashboard</a>
            </div>
            <div class="clickable nav shadow-sm" style = "text-align:right; border-right:2px solid black;">
                <a href="/{{ user }}/summary" style = "text-decoration:none; color:black;">Summary</a>
            </div>
            <div class="clickable nav shadow-sm" style = "margin-right:1vh; text-align:left;">
                <a href="/login" style = "text-decoration:none; color:black;">Logout</a>
            </div>
        </nav>
        
        <div id = "content" class="container">
            <div id = "form-wrap">
                <h4 class="mb-5">Create a new Product here!</h4>
                <p class="mb-3" id="feedback" style="color:red;"></p>
                <form style = "width:50vw">
                    
                    <div class = "row g-5 align-items-center mb-3">
                        <div class="col-auto col-sm-4">
                            <b>Category:</b>
                        </div>     
                        <div class="col-auto col-sm-5">
                            {{ cat.Name }}
                        </div>      
                    </div>

                    <div class = "row g-5 align-items-center mb-3">           
                        <div class="col-auto col-sm-4">
                            <b><label for="prod-name" class="col-form-label">Product Name:</label></b>
                        </div>
                        <div class="col-auto col-sm-5">
                            {% if prod is none %}
                                <input type="text" class="form-control" id="prod-name">
                            {% else %}
                                <input type="text" class="form-control" id="prod-name" value = {{ prod.Name }}>
                            {% endif %}
                        </div>
                    </div>

                    <div class = "row g-5 align-items-center mb-3">           
                        <div class="col-auto col-sm-4">
                            <b><label for="prod-unit" class="col-form-label">Unit:</label></b>
                        </div>
                        <div class="col-auto col-sm-5">
                            <select class="form-select" aria-label="Default select example" id="prod-unit">
                                {% if prod is none %}
                                    <option selected>Open this select menu</option>
                                    <option value="Rs/kg">Rs/kg</option>
                                    <option value="Rs/Litre">Rs/Litre</option>
                                    <option value="Rs/Gram">Rs/Gram</option>
                                    <option value="Rs/Dozen">Rs/Dozen</option>
                                    <option value="Rs/unit">Rs/unit</option>
                                {% else %}
                                    <option>Open this select menu</option>
                                    <option value="Rs/kg" {% if prod.Unit == "Rs/kg" %}selected{% endif %}>Rs/kg</option>
                                    <option value="Rs/Litre" {% if prod.Unit == "Rs/Litre" %}selected{% endif %}>Rs/Litre</option>
                                    <option value="Rs/Gram" {% if prod.Unit == "Rs/Gram" %}selected{% endif %}>Rs/Gram</option>
                                    <option value="Rs/Dozen" {% if prod.Unit == "Rs/Dozen" %}selected{% endif %}>Rs/Dozen</option>
                                    <option value="Rs/unit" {% if prod.Unit == "Rs/unit" %}selected{% endif %}>Rs/unit</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class = "row g-5 align-items-center mb-3">           
                        <div class="col-auto col-sm-4">
                            <b><label for="prod-rate" class="col-form-label">Rate/Unit:</label></b>
                        </div>
                        <div class="col-auto col-sm-4">
                            {% if prod is none %}
                                <input type="text" class="form-control" id="prod-rate" pattern="[0-9]*[.,]?[0-9]*">
                            {% else %}
                                <input type="text" class="form-control" id="prod-rate" pattern="[0-9]*[.,]?[0-9]*" value = "{{ prod.Price }}">
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class = "row g-5 align-items-center mb-3">           
                        <div class="col-auto col-sm-4">
                            <b><label for="prod-qt" class="col-form-label">Quantity:</label></b>
                        </div>
                        <div class="col-auto col-sm-4">
                            <div class="col-auto col-sm-4">
                                {% if prod is none %}
                                    <input type="number" class="form-control" id="prod-qt">
                                {% else %}
                                    <input type="number" class="form-control" id="prod-qt" value = "{{ prod.Stock }}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-1" style ="margin:auto;">
                        {% if prod is none %}
                            <button type="button" class="btn btn-primary" onclick = "create('{{ user }}','{{cat.CID}}')">Save</button>
                        {% else %}
                            <button type="button" class="btn btn-primary" onclick = "update('{{ user }}','{{cat.CID}}','{{prod.PID}}')">Save</button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>

        <script>

            var el1 = document.getElementById("content");
            el1.style.opacity = "0.0";
            
            var el2 = document.getElementById("nav");
            el2.style.opacity = "0.0";

            load();

            function load(){
                setTimeout(function(){
                    fadeIn(el1)
                }, 700);
    
                setTimeout(function(){
                    fadeIn(el2)
                }, 700);
                
            }

            function fadeIn(el) {
                var opacity = 0; // Initial opacity
                var interval = setInterval(function() {
                if (opacity < 1) {
                    opacity += 0.05;
                    el.style.opacity = opacity;
                } else {
                    clearInterval(interval); // Stop the interval when opacity reaches 0
                }
                }, 50);
            }

            function create(user, cat_id){
                var pname = "";
                var punit = "";
                var prate = "";
                var pqt = "";
                var url = "/add_prod_val";
                pname = document.getElementById("prod-name").value;
                punit = document.getElementById("prod-unit").value;
                prate = document.getElementById("prod-rate").value;
                pqt = document.getElementById("prod-qt").value;                

                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                
                    if (this.readyState == 4 && this.status == 200) {
                        var ret = JSON.parse(xhttp.responseText);
                        //window.alert(data.prate+1);
                        //window.alert(ret.stat);
                        if(ret.stat == "success"){
                            window.location.replace("/"+user+"/manager_dashboard");
                        }
                        else{
                            document.getElementById("feedback").innerHTML=ret.stat; 
                        }
                        
                    }

                };
                
                xhttp.open("POST", url, true);
                xhttp.setRequestHeader("Content-Type", "application/json");
                var data = { pname: pname, punit: punit, prate: prate, pqt: pqt, cat_id: cat_id};
                xhttp.send(JSON.stringify(data));
            }

            function update(user, cat_id, prod_id){
                var pname = "";
                var punit = "";
                var prate = "";
                var pqt = "";
                var url = "/update_prod_val";
                pname = document.getElementById("prod-name").value;
                punit = document.getElementById("prod-unit").value;
                prate = document.getElementById("prod-rate").value;
                pqt = document.getElementById("prod-qt").value;  
                

                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                
                    if (this.readyState == 4 && this.status == 200) {
                        var ret = JSON.parse(xhttp.responseText);
                        //window.alert(data.prate+1);
                        //window.alert(ret.stat);
                        if(ret.stat == "success"){
                            window.location.replace("/"+user+"/manager_dashboard");
                        }
                        else{
                            document.getElementById("feedback").innerHTML=ret.stat; 
                        }
                        
                    }

                };
                
                xhttp.open("POST", url, true);
                xhttp.setRequestHeader("Content-Type", "application/json");
                var data = { pid: prod_id, pname: pname, punit: punit, prate: prate, pqt: pqt, cat_id: cat_id};
                xhttp.send(JSON.stringify(data));
            }
            
        </script>
        
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    
    </body>

</html>