<!doctype html>
<html lang="en">
  
    <head>
    
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Login | Grocery Store</title>
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <style>
            body{
                height:100vh; 
                width:100vw; 
                overflow:hidden;
                background:black;
                background-image:url('{{url_for('static', filename='images/login.jpg')}}'); 
                background-repeat:no-repeat; 
                background-size:cover;
            }
        </style>
        <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
        

    </head>
  
    <body id="body">
        <div id = "choose" class="container">
            <div class = "wrapper">
                <h1>Welcome! Please choose one :)</h1>
                <div class="d-flex justify-content-evenly"  style="margin-top:3vh;">
                    <div class="border shadow" onclick = "managerlogin()"><b>Admin Login</b></div>
                    <div class="border shadow" onclick = "userlogin()"><b>User Login</b></div>
                    <div class="border shadow" onclick = "userregn()"><b>User Registration</b></div>
                </div>
            </div>
        </div>

        <div id = "mgr-login" class = "container">
            <form style = "width:50vw"> 
                <div class="mb-5 cls-btn">
                    <button type="button" class="btn-close" aria-label="Close" onclick = "cls('1')"></button>
                </div> 
                <div class="mb-5 col-3" style="margin:auto;">
                    <h3>Manager login<h3> 
                </div>            
                <div class="mb-5 col-6" style ="margin:auto;">
                    <p style = "color:red;" class = "feedback"></p>
                    <label for="user_name-1" class="form-label">User Name</label>
                    <input type="text" class="form-control" id="user_name-1">
                </div>
                
                <div class="mb-5 col-6" style ="margin:auto;">
                    <label for="pwd-1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="pwd-1">
                </div>
                
                <div class="mb-5 col-6" style ="margin:auto;">
                    <button type="button" class="btn btn-primary" style ="justify-content:center;" onclick = "val('1')">Login</button>
                </div>
            </form>
        </div>

        <div id = "usr-login" class = "container">
            <form style = "width:50vw">
                <div class="mb-5 cls-btn" onclick = "close()">
                    <button type="button" class="btn-close" aria-label="Close" onclick = "cls('2')"></button>
                </div>
                <div class="mb-5 col-3" style="margin:auto;">
                    <h3>User login<h3> 
                </div>   
                <div class="mb-5 col-6" style ="margin:auto;">
                    <p style = "color:red;" class = "feedback"></p>
                    <label for="user_name-2" class="form-label">User Name</label>
                    <input type="text" class="form-control" id="user_name-2">
                </div>
                
                <div class="mb-5 col-6" style ="margin:auto;">
                    <label for="pwd-2" class="form-label">Password</label>
                    <input type="password" class="form-control" id="pwd-2">
                </div>
                
                <div class="mb-5 col-6" style ="margin:auto;">
                    <button type="button" class="btn btn-primary" style ="justify-content:center;" onclick = "val('2')">Login</button>
                </div>
            </form>
        </div>

        <div id = "usr-regn" class = "container">
            <form style = "width:50vw">
                <div class="mb-3 cls-btn">
                    <button type="button" class="btn-close" aria-label="Close" onclick = "cls('3')"></button>
                </div>
                <div class="mb-3 col-4" style="margin:auto;">
                    <h3>User Registration<h3> 
                </div>   
                <div class="mb-3 col-6" style ="margin:auto;">
                    <p style = "color:red;" class = "feedback"></p>
                    <label for="user_name-3" class="form-label">User Name</label>
                    <input type="text" class="form-control" id="user_name-3">
                </div>
                
                <div class="mb-3 col-6" style ="margin:auto;">
                    <label for="pwd-3" class="form-label">Password</label>
                    <input type="password" class="form-control" id="pwd-3">
                </div>

                <div class="mb-4 col-6" style ="margin:auto;">
                    <label for="pwd-4" class="form-label">Re enter password</label>
                    <input type="password" class="form-control" id="pwd-4">
                </div>
                
                <div class="mb-5 col-6" style ="margin:auto;">
                    <button type="button" class="btn btn-primary" style ="justify-content:center;" onclick = "reg()">Login</button>
                </div>
            </form>
        </div>

        <script>
            var el1 = document.getElementById("choose");
            var el2 = document.getElementById("mgr-login");
            var el3 = document.getElementById("usr-login");
            var el4 = document.getElementById("usr-regn");
            
            load();
            
            function load(){
                el1.style.opacity = "0.0";
                setTimeout(function(){
                    fadeIn(el1)
                }, 700);
            }
            
            function cls(i){
                if(i==1){
                    fadeOut(el2); 
                }
                if(i==2){
                    fadeOut(el3);
                }
                if(i==3){
                    fadeOut(el4);
                }
                setTimeout(function(){
                    el1.style.display = "flex";
                    fadeIn(el1);
                }, 500);
                
            }

            function managerlogin(){
                fadeOut(el1);
                setTimeout(function(){
                    el2.style.display = "block";
                    fadeIn(el2);
                }, 500);
            }

            function userlogin(){
                fadeOut(el1);
                setTimeout(function(){
                    el3.style.display = "block";
                    fadeIn(el3);
                }, 500);
            }

            function userregn(){
                fadeOut(el1);
                setTimeout(function(){
                    el4.style.display = "block";
                    fadeIn(el4);
                }, 500);
            }

            function val(choose){
                var u = "";
                var p = "";
                var url = "/validate/";
                if(choose == 1){
                    u = document.getElementById("user_name-1").value;
                    p = document.getElementById("pwd-1").value;
                    url = "/validate/manager";
                }
                if(choose == 2){
                    u = document.getElementById("user_name-2").value;
                    p = document.getElementById("pwd-2").value;
                    url = "/validate/user";
                }

                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        var ret = JSON.parse(xhttp.responseText);
                        //window.alert(ret.stat);
                        if(ret.stat == "invalid"){
                            document.getElementsByClassName("feedback")[choose-1].innerHTML="Incorrect username or password";
                        }
                        else if(ret.stat == "valid"){
                            //window.alert("Logging in!");
                            if(choose == 1)
                                window.location.href = "/"+u+"/manager_dashboard";
                            else if(choose == 2)
                                window.location.href = "/"+u+"/user_dashboard";
                        } 
                    }
                };
                
                xhttp.open("POST", url, true);
                xhttp.setRequestHeader("Content-Type", "application/json");
                var data = { uname: u, pwd:p };
                xhttp.send(JSON.stringify(data));
            }

            function reg(){
                var u = "";
                var p = "";
                var url = "/register_user";

                if(document.getElementById("pwd-4").value == ""){
                    document.getElementsByClassName("feedback")[2].innerHTML="Please re enter password to proceed!";
                    return;
                }

                u = document.getElementById("user_name-3").value;
                p = document.getElementById("pwd-3").value;

                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        var ret = JSON.parse(xhttp.responseText);
                        if(ret.stat == "valid"){
                            if(document.getElementById("pwd-4").value == p)
                                window.location.href = "/"+u+"/user_dashboard";
                            else
                                document.getElementsByClassName("feedback")[2].innerHTML="Entered passwords do not match!";
                        }
                        document.getElementsByClassName("feedback")[2].innerHTML=ret.stat;
                    }
                };
                
                xhttp.open("POST", url, true);
                xhttp.setRequestHeader("Content-Type", "application/json");
                var data = { uname: u, pwd:p };
                xhttp.send(JSON.stringify(data));
            }
        </script>

        <script src="{{ url_for('static', filename='js/fade.js') }}"></script>   
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    
    </body>

</html>