<!DOCTYPE html>
<html>
  
    <head>
    
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Dashboard | Grocery Store</title>
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

        <style>
            body{
                width:100%;
                height:100vh; 
                background:black;
                background-image:url('{{url_for('static', filename='images/login.jpg')}}'); 
                background-repeat:no-repeat; 
                background-size:cover;
                background-attachment: fixed;
                overflow-x:hidden;
                
            }

            .navbar{
                width:100%;
            }

            .nav{
                padding-top:0.5vh;
                padding-bottom:0.5vh;
                padding-left:2vw;
                padding-right:2vw;
                width:fit-content;
                font-size:2.5vh;
                height:100%;
            }

            .clickable:hover{
                background-color:rgb(230, 230, 230);
            }

            #add-btn{
                padding:1vh 3vw;
                position:fixed;
                bottom: 5vh;
                right: 10vw;
                font-size:20px;
                z-index:2;
            }
            
            #content{
                min-height:93vh;
                display:flex; 
                flex-direction:column; 
                justify-content:center; 
                align-items:center;  
                background-color:rgba(255, 255, 255, 0.7);
            }

            #initial-struct, #new-struct{
                display:flex;
                padding-bottom:10vh;
            }

            .column{
                display:flex; 
                flex-direction:column;
                margin-left:2vw;
            }

            .card{
                width: 18rem; 
                margin-top:3vh; 
            }

            .card .prod{
                width:100%;
            }

            .add-prod:hover{
                cursor:pointer;
            }

            
        </style>
    
    </head>
  
    <body id="body">
        <nav id = "nav" class="navbar sticky-top bg-body-tertiary text-center">
                <div class="nav" style = "text-align:left;">
                    {{ user }}'s Dashboard
                </div>

                <div class="clickable nav shadow-sm" style = "margin-left:auto;text-align:right; border-right:2px solid black;">
                    <a href="/{{ user }}/summary" style = "text-decoration:none; color:black;">Summary</a>
                </div>
                <div class="clickable nav shadow-sm" style = "margin-right:1vh; text-align:left;">
                    <a href="/login" style = "text-decoration:none; color:black;">Logout</a>
                </div>
        </nav>
        
        <button id = "add-btn" type="button" class="btn btn-primary shadow-lg" onclick = "window.location.href = '/{{ user }}/add_category';">+ Add Category</button>
        
        <div id = "content" class="container border">
            
            <!--div>
                <h1>Welcome to Grocery Store!</h1>
                <b>Fresh Convenience at Your Fingertips: Your One-Stop Grocery App!</b>
                <br><br>
                <center>Click to begin!</center>
            </div-->
        
            <div style = "margin-left:1vw; margin-right:auto; margin-top:5vh;">
                <h1>Categories</h1>
                Fresh Convenience at Your Fingertips: Your One-Stop Grocery App!<br>
            </div>

            <div class = "container-fluid shadow" style = "width:100%; margin-top:5vh; background-color:white;">
                <div class ="row" style="margin-left:1vw; padding-top:1vh; padding-bottom:1vh">
                    <div class = "col-2" >
                        <select id = "filter-select" class="form-select" style = "background-color:black; color:white; border:none;" onchange = "filter_ip()" aria-label="Default select example">
                            <option selected>Show all </option>
                            <option value="1">Category</option>
                            <option value="2">Product</option>
                            <option value="3">Price</option>
                        </select>
                    </div>
                    <div class = "col-2"></div>
                    <input id = "filter-ip" class = "col-4 border" type = "text" style = "border:1px solid black; display:none;">
                    <div id = "range-val" class = "col-2"></div>
                    <button id = "filter-btn" type="button" class="btn btn-dark col-1" disabled onclick = "filter()">Apply</button>
                </div>
            </div>

            <div id = "initial-struct" style="display:none;">
                {% for cat in categories %}
                <div class="card cat shadow {{ cat.Name }}" id = "{{ cat.CID }}" >
                    <div class="card-body">
                        <h5 class="card-title mb-5">{{ cat.Name }}</h5>
                        <p class="card-text">
                            {% for prod in cat.products %}
                            <div class="card prod shadow" id = "{{ prod.PID }}">
                                <div class="card-body card-body-prod" id="{{ prod.Name }}">
                                    <p class="card-text">{{ prod.Name }}</p>
                                    <p class="card-text">Price: <span class="price">{{ prod.Price }}</span></p>
                                    <button type="button" class="btn btn-primary edit-cat" onclick = "window.location.href = '/{{ user }}/edit_product/cat_{{ cat.CID }}/prod_{{ prod.PID }}';">Edit/View</button>
                                    <button type="button" class="btn btn-danger del-cat delProdBtn"  onclick = "fn1('{{ prod.PID }}')">Delete</button>
                                </div>
                            </div>
                            {% else %}
                            <p class="mb-4"> No items have been added yet </p>
                            {% endfor %}
                        </p>
                        <div class = "add-prod mb-3" onclick = "window.location.href = '/{{ user }}/add_prod/cat_{{ cat.CID }}';">
                            <img src = "{{url_for('static', filename='images/add-icon.jpg')}}" style = "width:15%; margin-left:auto">Add product<br><br>
                        </div>
                        <button type="button" class="btn btn-primary edit-cat mb-3" onclick = "window.location.href = '/{{ user }}/edit_category/cat_{{ cat.CID }}';">Edit/View Category</button>
                        <button type="button" class="btn btn-danger del-cat delCatBtn"  onclick = "fn2('{{ cat.CID}}')" >Delete Category</button>
                    </div>
                </div>
                {% endfor %}
                <!-- Bootstrap Modal -->
                <div class="modal fade" id="confirmationModal-1" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmationModalLabel">Confirmation Prompt</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to proceed?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" id="confirmActionBtn-1">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Bootstrap Modal -->
                <div class="modal fade" id="confirmationModal-2" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmationModalLabel">Confirmation Prompt</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to proceed?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" id="confirmActionBtn-2">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>              
        </div>
        
        <!-- Add Bootstrap JavaScript and jQuery (required for Bootstrap) -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Your existing JavaScript code goes here -->

        <script>
            var c, p;

            var el1 = document.getElementById("content");
            el1.style.opacity = "0.0";
            
            var el2 = document.getElementById("nav");
            el2.style.opacity = "0.0";

            columns = 0;
            load();

            function load(){
                sw = window.screen.width

                if(sw < 768){
                    columns = 1
                }
                else if(sw < 992){
                    columns = 2
                }
                else if(sw < 1200){
                    columns = 3
                }
                else{
                    columns = 4
                }
                
                setTimeout(function(){
                    fadeIn(el1)
                }, 700);
    
                setTimeout(function(){
                    fadeIn(el2)
                }, 700);

                setTimeout(function(){
                    restructure();
                }, 800);  
                
                //window.alert(document.getElementsByClassName('delProdBtn').length)
                bts = document.getElementsByClassName('delProdBtn');
                for(var i = 0; i < bts.length; i++){
                    bts[i].addEventListener('click', function () {
                        // Show the Bootstrap modal when the button is clicked
                        $('#confirmationModal-1').modal('show');
                    });
                }

                bts = document.getElementsByClassName('delCatBtn');
                for(var i = 0; i < bts.length; i++){
                    bts[i].addEventListener('click', function () {
                        // Show the Bootstrap modal when the button is clicked
                        $('#confirmationModal-2').modal('show');
                    });
                }
            }

            // Attach a click event handler to the "Confirm" button inside the modal
            document.getElementById('confirmActionBtn-1').addEventListener('click', function () {
                // Perform the action here, e.g., submit a form or execute some function
                del_prod();
                // ...

                // Close the modal after the action is performed
                $('#confirmationModal-1').modal('hide');
            });

            // Attach a click event handler to the "Confirm" button inside the modal
            document.getElementById('confirmActionBtn-2').addEventListener('click', function () {
                // Perform the action here, e.g., submit a form or execute some function
                del_cat();
                // ...

                // Close the modal after the action is performed
                $('#confirmationModal-2').modal('hide');
            });


            function fadeIn(el) {
                var opacity = 0; // Initial opacity
                var interval = setInterval(function() {
                if (opacity < 1) {
                    opacity += 0.05;
                    el.style.opacity = opacity;
                } else {
                    clearInterval(interval); // Stop the interval when opacity reaches 0
                }
                }, 50);
            }

            function restructure(){
                var is = document.getElementById("initial-struct");
                var ns = document.createElement("div");
                ns.setAttribute("id", "new-struct")
                
                nca = {};
                for (let j = 0; j < columns; j++) {
                    nca[j] = document.createElement("div");
                    nca[j].classList.add("column");
                }
                console.log(nca);
                
                i = 0
                chl = Array.from(is.children);
                for (let ch of chl) {
                    is.removeChild(ch);
                    nca[i%columns].appendChild(ch);
                    console.log(ch);
                    i+=1;
                }   

                for (let j = 0; j < columns; j++) {
                    ns.appendChild(nca[j]);
                }

                document.getElementById("content").appendChild(ns);
            }
            
            function fn1(pid){
                p = pid;
                //window.alert(p);
            }

            function fn2(cid){
                c = cid;
                //window.alert(p);
            }

            function del_prod(){
                var url = "/del_prod";
                
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        var ret = JSON.parse(xhttp.responseText);
                        if(ret.stat == "success"){
                            location.reload();
                        }
                        else{
                            window.alert("Something went wrong!");
                        }
                    }
                };
                
                xhttp.open("POST", url, true);
                xhttp.setRequestHeader("Content-Type", "application/json");
                var data = { pid: p };
                xhttp.send(JSON.stringify(data));
            }

            function del_cat(){
                var url = "/del_cat";
                
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        var ret = JSON.parse(xhttp.responseText);
                        if(ret.stat == "success"){
                            location.reload();
                        }
                        else{
                            window.alert("Something went wrong!");
                        }
                    }
                };
                
                xhttp.open("POST", url, true);
                xhttp.setRequestHeader("Content-Type", "application/json");
                var data = { cid: c };
                xhttp.send(JSON.stringify(data));
            }

            function filter_ip(){
                var v = document.getElementById("filter-select").value
                if(v == 1){
                    document.getElementById("filter-ip").type = "text" 
                    document.getElementById("filter-ip").style.display = ""
                    document.getElementById("filter-btn").disabled = ""
                    document.getElementById("range-val").innerHTML =""
                    document.getElementById("filter-ip").removeEventListener('input', val);    
                }
                else if(v == 2){
                    document.getElementById("filter-ip").type = "text"
                    document.getElementById("filter-ip").style.display = ""
                    document.getElementById("filter-btn").disabled = ""
                    document.getElementById("range-val").innerHTML =""
                    document.getElementById("filter-ip").removeEventListener('input', val);    
                }
                else if(v == 3){
                    document.getElementById("filter-ip").type = "range"
                    document.getElementById("filter-ip").min = "0"
                    document.getElementById("filter-ip").max = "1000"
                    document.getElementById("filter-ip").step = "0.5"
                    document.getElementById("filter-ip").style.display = ""
                    document.getElementById("filter-btn").disabled = ""
                    document.getElementById("filter-ip").addEventListener('input', val);
                }
                else{
                    document.getElementById("filter-ip").style.display = "none"
                    document.getElementById("filter-btn").disabled = "disabled"
                    document.getElementById("filter-ip").removeEventListener('input', val);
                    document.getElementById("range-val").innerHTML =""
                    filter();    

                }
            }

            function val(){
                document.getElementById("range-val").innerHTML="\<\= Rs "+document.getElementById("filter-ip").value;
            }

            function filter(){
                var v = document.getElementById("filter-select").value
                var lines = document.getElementsByClassName("cat");
                var value = document.getElementById("filter-ip").value;

                if(v==1){
                    value = value.toLowerCase();
                    
                    for(var i = 0; i < lines.length; i++){
                        //window.alert(lines[i].id)
                        var classlist = Array.from(lines[i].classList)
                        var name = classlist[classlist.length-1];
                        if(name.toLowerCase().indexOf(value) != -1){
                            lines[i].style.display = ""
                        }
                        else{
                            lines[i].style.display = "none"
                        }
                    }  
                }
                else if(v==2){
                    value = value.toLowerCase();
                    for(var i = 0; i < lines.length; i++){
                        var flag = 0;

                        const parent = lines[i];
                        const children = parent.querySelectorAll('.card-body-prod');
                        children.forEach((child) => {
                            if(child.id.toLowerCase().indexOf(value) != -1){
                                flag = 1;
                                child.style.display = ""
                            }
                            else{
                                child.style.display = "none"
                            }
                        });

                        if(flag == 1){
                            parent.style.display = ""
                        }
                        else{
                            parent.style.display = "none"
                        }

                    }  
                }
                else if(v==3){
                    value = parseFloat(value);
                    for(var i = 0; i < lines.length; i++){
                        var flag = 0;
                        //window.alert(lines[i].id)
                        const parent = lines[i];

                        const children = parent.querySelectorAll('.card-body-prod');
                        children.forEach((child) => {
                            var child_price = child.querySelectorAll('.price');
                            //window.alert(child.id+" "+child_price[0].innerHTML+" || ")
                            if(parseFloat(child_price[0].innerHTML) <= value){
                                //window.alert("yes");
                                flag = 1;
                                child.style.display = ""
                            }
                            else{
                                //window.alert("no");
                                child.style.display = "none"
                            }
                        });

                        if(flag == 1){
                            parent.style.display = ""
                        }
                        else{
                            parent.style.display = "none"
                        }

                    }  
                }
                else{
                    for(var i = 0; i < lines.length; i++){
                        const parent = lines[i];
                        const children = parent.querySelectorAll('.card-body-prod');
                        children.forEach((child) => {
                            //window.alert(child.id)
                            child.style.display = ""
                        });
                        parent.style.display = ""
                    }  
                }
            }
        </script>
        
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    
    </body>

</html>